@import url(games.css);
@import url(home.css);
@import url(navigation.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Lato';
  user-select: none;
}

a {
  text-decoration: none;
  color: blue;
}

/* Can't make my mind up mabye, 'https://fonts.google.com/specimen/Inter'? */