.game-card2 {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-transition: 0.15s all;
    -o-transition: 0.15s all;
    transition: 0.15s all;
    font-size: 13px;
    margin: 7.5px;
    /*display: inline-block;*/
    /*Displays Horizontally*/
}

.game-card2 span {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    left: 0;
    bottom: -24px;
    font-weight: 600;
    -webkit-transition: 0.15s all;
    -o-transition: 0.15s all;
    transition: 0.15s all;
    font-family: 'Roboto', sans-serif;
}

.game-card2:hover span {
    bottom: 0;
}

.game-card2 a {
    position: relative;
}

.game-card2 img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}