  .nav {
    height: 69px;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 0px 10px #000;
    background-color: #1c1c1c;
    font-size: 14px;
  }
  
  .nav-content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 15px;
  }

  .nav-content a {
    color:white;
    border-radius: 28px;
    padding: 12px;
    transition: 0.2s;
  }

  .nav-content a:hover {
    opacity: calc(0.7);
  }

  .nav-home {
    left: 15px; position: absolute;
  }

  .nav-home img {
    padding: 0; margin: 0; height: 25px; vertical-align: middle;
  }